header {
    background-color: #fff;
    border-bottom: .1em solid #eee;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 1% 10%;
    width: 80%;
    z-index: 1000;
    
    .nav-left {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .logo {
            white-space: nowrap;
            width: 4em;
        }

        .title{
            padding: 0 1em;

            h1 {
                font-size: .8rem;
            }
        }
    }

    
    .nav-right{
        width: 100%;

        .hamburger {
            display: block;
            position: absolute;
            right: 0;
            z-index: 2000;

            .bar1,.bar2,.bar3{  
                display:block;  
                width: 2rem;  
                height:3px;  
                margin:5px auto;  
                background-color:#101010;  
                transition: 0.4s;  
            }  
            
    &.active .bar1{  
        transform: rotate(45deg) translate(8px,3px);  
    }  

    &.active .bar2 {  
        opacity: 0;  
    }  
    
    &.active .bar3 {  
        transform: rotate(-45deg) translate(8px,-3px);  
    }  
        }

        .menu{
            position: absolute;
            left: 0;
            margin-top: 3em;
            transition: top .4s ease-in-out;
            top: -100vh;
            width: 100%;

            &.active {
                top: 0;
                z-index: 1000;
            }
            ul {
                background-color: #efefefee;
                box-shadow: 0 .4em .3em .2em rgba(0, 0, 0, 0.2);
                display: flex;
                flex-direction: column;
                margin: 0;
                width: 100%;
        
                li{
                    font-size: 1.3em;
                    margin: 1.5em 0;
                    text-align: center;
        
                    a {
                        text-decoration: none;
                        color: #000000;
                        font-size: 1.1em;
                    }
                }
            }
        } 
    } 
}

