.error-warning-container {
    display: none;

    .error-warning {
        list-style: disc;
        background-color: #eee;
        border-radius: .5em;
        margin: auto;
        padding: 1em 3em;

        li {
            margin: .6rem 0;
        }

        span {
            color: #f00;
        }

    }
    

    &.active {
        display: block;
    }

    .close {
        svg {
            position: absolute;
            top: 12.5rem;
            left: 33rem;
            height: 1.2rem;
            width: 1.2rem;
        }

        &.active {
            display: none;
        }
    }
}

.has-error {
    input, textarea, select {
        border: .1em solid #f00;
        &.active {
            border: none;
        }
    }


    .messages {
        margin-top: .4rem;

        p {
            color: #f00c;
            font-size: .9rem;
        }
    }
}

.parent.active {
    display: none;
}